[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "external/gnuplot-iostream"]
	path = external/gnuplot-iostream
	url = https://github.com/dstahlke/gnuplot-iostream.git
